/*

  ███╗   ██╗███████╗██╗
  ████╗  ██║██╔════╝██║
  ██╔██╗ ██║███████╗██║
  ██║╚██╗██║╚════██║██║
  ██║ ╚████║███████║██║
  ╚═╝  ╚═══╝╚══════╝╚═╝
                      
*/

/* Importation de la police */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Style Global*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header {
    height: 100vh;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: url("../images/fond.webp"), #000000 ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
  height: 15vh;
  width: 100%; 
  color: white;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: fixed;
}

header nav strong {
  font-weight: 900;
}

nav h2{
  position: absolute;
  left: 20px;
}

.bouton-menu {
  position: absolute;
  z-index: 2;
  right: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  background: white;
  border: 1px solid #DCDCDC;
  transition: all 300ms ease-in-out;
}

header h1{
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 115px;
  font-size: 115px;
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-51%,-50%);
  color: white;
  mix-blend-mode: saturation;
  animation: animedate 2s cubic-bezier(.25,.46,.45,.94);
 }









/* Animation */

@-webkit-keyframes animedate {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animedate {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
